<%- include("../partials/navbart.ejs") %> 

<div class="optionDiv">
    <button class="btn">
        <a href="/teacher/viewall">View All Students</a>
    </button>
    <button class="btn">
        <a href="/teacher/add">Add Student</a>
    </button>
</div>